.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.cover {
  width: 100%;
  height: 170px;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #1e1b1b;
  font-size: 20px;
}

.tags_container {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.tag {
  color: #6c48b9;
  font-size: 17px;
  height: 30px;
}
