.top_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  row-gap: 20px;
}
h1 {
  color: #1c1a1a;
  font-size: 24px;
}
.description {
  font-size: 19px;
  width: 80%;
  color: #2a2525;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}
